/* 모바일 코딩 필수 공통영역 */
* {margin:0; padding:0; -webkit-text-size-adjust:none; }

@font-face{font-family:NanumGothic; src:url('../font/NanumGothic.eot');
	src:local('NanumGothic'), url('../font/NanumGothic.ttf') format('truetype');}
	
body {color:#666; font-size:14px; font-family:NanumGothic,'돋움',Dotum,'굴림',Gulim,AppleGothic,sans-serif;}
img, fieldset {border:0 }
ul, ol, li, dl {list-style:none; }
h1, h2, h3, h4, h5, h6 {font-size:100%; font-weight:normal; }
hr {display:none; }
a {color:inherit; }
a, a:link {color:#333; text-decoration:none; }
a:visited {color:#333; }
a:hover, a:active { color:#333; text-decoration:none; }
em, i, address {font-style:normal; font-weight:normal; }
legend, caption {display:none; clear:both; }
input, textarea, select, button, table {font-size:inherit; font-family:inherit; line-height:inherit; }
section, nav, article, aside, hgroup, header, footer {display:block }
textarea, input {background:url(none); -webkit-border-radius:1px; -webkit-apprearance:none; }
textarea {resize:none; }
label {cursor:pointer; }
.bold {font-weight:bold; }

#main{padding:10px 0px 40px 0px}
#main h2{font-size:1.2em; margin-bottom:12px; color:#555; font-weight:bold}
#main h3{font-size:1.1em; margin-bottom:10px; color:#00948c; font-weight:bold}
#main p.interval{margin-bottom:10px}
#main p.last{margin-bottom:25px}


