/* CSS Document */
.leftNav li a.current{background:url(../common/images/sub4_menu01_over.jpg)}
#contentArea h2{width:410px; height:63px; text-indent:-9999px; background:url(../images/content1/contentHD.jpg); margin:30px 0 40px 0}
#contentArea h3{width:291px; height:32px; text-indent:-9999px; background:url(../images/content1/content1.jpg); margin-bottom:30px}
#contentArea>p{margin-bottom:40px}
.col{width:370px; height:120px; padding:20px 15px 20px 270px; border-bottom:1px solid #CCC}
.col1{background:url(../images/content1/img1.jpg) 15px 20px no-repeat; border-top:1px solid #CCC}
.col2{background:url(../images/content1/img2.jpg) 15px 20px no-repeat}
.col3{background:url(../images/content1/img3.jpg) 15px 20px no-repeat}
.col4{background:url(../images/content1/img4.jpg) 15px 20px no-repeat}
.col5{background:url(../images/content1/img5.jpg) 15px 20px no-repeat}
.col6{background:url(../images/content1/img6.jpg) 15px 20px no-repeat}
.col7{background:url(../images/content1/img7.jpg) 15px 20px no-repeat}

.col h4{font-size:1.2em; font-weight:bold; color:#333; margin-bottom:20px}
.col p{margin-bottom:5px}
.col p span{display:block; float:left;width:65px;font-weight:bold}
.col .spacing{letter-spacing:-1px}
.col .spacing2{letter-spacing:-2px}